{% extends "layout.html" %}

{% block title %}Resume2Web{% endblock %}

{% block main %}
  <section class="hero">
    <h1 class="hero-title">Resume 2 Web</h1>

    <p class="hero-subtitle">
      Turn your resume into a clean, shareable website.
    </p>

    <div class="cta-buttons">
      <a href="/resume/new" class="btn hero-btn-primary">
        Create your portfolio
      </a>

      <a href="/resumes" class="btn hero-btn-secondary">
        My resumes
      </a>
    </div>
  </section>
{% endblock %}
